<%= render :partial => "layouts/header" %>
  <div id='menu'>
    <% if logged_in? %>
      Logged in as <%= current_user.login %>
    <% else %>
      <%= link_to "Login", login_path %> /
      <%= link_to "Register", register_path %>
    <% end %>
    
  </div>
  <%= yield %>
<%= render :partial => "layouts/footer" %>