<% content_for :sidebar do %>
  <% if logged_in? %>
    Logged in as <%= current_user.login %><br>
    <% if current_user.admin? %>
      <%= link_to "Admin", admin_root_path %>
    <% end %>
  <% else %>
    <%= link_to "Login", login_path %><br>
    <%= link_to "Register", register_path %>
  <% end %>
  <h3>Archives</h3>
  <% for month in @months %>
    <%= link_to(month[0] + " " + month[-1], archive_path(:month => month[1], :year => month.last)) %><br>
  <% end %>
<% end %>

<%= render :partial => "layouts/header" %>
  <%= yield %>
<%= render :partial => "layouts/footer" %>